<!--The content below is only a placeholder and can be replaced.-->
<div id=whole>
<div style="text-align:center">
  <h1>
    Welcome to Immunization Tracking <br>  and Management Platform!
  </h1>
  <img width="300" alt="Medicle Logo" src="download.jpg">
</div>
<div style="margin-left:320px">
<form style="width:50%;text-align:left">
  <div class="form-group">
    <label for="exampleInputEmail1"><b>UserName</b></label>
    <input type="Username" class="form-control" id="exampleInputUsername" aria-describedby="UsernameHelp" placeholder="Enter User Name" style="text-align:center">
    <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"><b>Password</b></label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="text-align:center">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> &nbsp;
  <button type="reset" class="btn btn-primary">Reset</button>
</form>
</div>
</div>

